<p style="font-size: 75px;">Welcome</p>
<section class="row">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Chennai</h5>
    <p class="card-text">Exciting places to get married..</p>
    <a routerLink="/reference" class="btn btn-primary">Refernce_Images</a>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Hyderabad</h5>
    <p class="card-text">Exciting places to get married..</p>
    <a routerLink="/reference" class="btn btn-primary">Refernce_Images</a>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Goa</h5>
    <p class="card-text">Exciting places to get married..</p>
    <a routerLink="/reference" class="btn btn-primary">Refernce_Images</a>
  </div>
</div>
</section>
<br><br><br><br>
<section class="row">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Udaipur</h5>
    <p class="card-text">Exciting places to get married..</p>
    <a routerLink="/reference" class="btn btn-primary">Refernce_Images</a>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Kerala</h5>
    <p class="card-text">Exciting places to get married..</p>
    <a routerLink="/reference" class="btn btn-primary">Refernce_Images</a>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Andaman & Nicobar Islands</h5>
    <p class="card-text">Exciting places to get married..</p>
    <a routerLink="/reference" class="btn btn-primary">Refernce_Images</a>
  </div>
</div>
</section>