<div>
  <
</div>

<section class="row">
  &nbsp;&nbsp;&nbsp;&nbsp;
<div class="card" style="width: 18rem;">
    <img src="../../assets/img3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vijaya Mahal</h5>
      <p class="card-text">T.Nagar</p>
      <a routerLink="/booking" class="btn btn-primary">Book Now</a>
    </div>
  </div>
&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img src="../../assets/img4.jpeg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Dwaraka Palace </h5>
      <p class="card-text">Thiruvanmiyur</p>
      <a routerLink="/booking" class="btn btn-primary">Book Now</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img src="../../assets/img2.jpg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">EVP Rajeshwari Marriage Palace</h5>
      <p class="card-text">T.Nagar</p>
      <a routerLink="/booking" class="btn btn-primary">Book Now</a>
    </div>
  </div>
</section>
<section class="row">
  <div class="card" style="width: 18rem;">
    <img src="../../assets/img5.jpeg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Swathi Palace</h5>
      <p class="card-text">Ambattur</p>
      <a routerLink="/booking" class="btn btn-primary">Book Now</a>
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img src="../../assets/img6.jpeg" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Preeti Palace</h5>
      <p class="card-text">Periyapalayam</p>
      <a routerLink="/booking" class="btn btn-primary">Book Now</a>
    </div>
  </div>
  </section>